<div class="center">
<pre class="pink">
  ▄▄▄▄███▄▄▄▄      ▄████████      ▄█  ▄█    █▄     ▄████████ ▀████    ▐████▀ 
▄██▀▀▀███▀▀▀██▄   ███    ███     ███ ███    ███   ███    ███   ███▌   ████▀  
███   ███   ███   ███    ███     ███ ███    ███   ███    ███    ███  ▐███    
███   ███   ███   ███    ███     ███ ███    ███   ███    ███    ▀███▄███▀    
███   ███   ███ ▀███████████     ███ ███    ███ ▀███████████    ████▀██▄     
███   ███   ███   ███    ███     ███ ███    ███   ███    ███   ▐███  ▀███    
███   ███   ███   ███    ███     ███ ███    ███   ███    ███  ▄███     ███▄  
 ▀█   ███   █▀    ███    █▀  █▄ ▄███  ▀██████▀    ███    █▀  ████       ███▄ 
                             ▀▀▀▀▀▀                                          
</pre>
<div id="links">
    <a href="github.com/majvax">[github]</a>
    <trans-page view="about.html">[about me]</trans-page>
</div>

<div>
    <trans-page view="fuck.html"><img id="logo" src="images/gang.gif"></trans-page>
</div>
</div>